.box{
    width: 250px;
    height: 250px;
    background-color: rgb(250, 80, 80);
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 2;
}
.box2{
    width: 250px;
    height: 250px;
    background-color: rgb(120, 250, 80);
    
}
.box1{
    width: 250px;
    height: 250px;
    background-color: rgb(91, 80, 250);
    position: absolute;
    top: 300px;
    left: 300px;
}
ul{
    list-style: none;
}